<template name="shoppinglist">
 <h1 class="page-title">My shopping list</h1>
  <ul class="shopping-list">
   {{#each shoppinglist}}
   {{#each ingredients}}
   <li>{{name}} - <span class="amount">{{amount}}</span></li>
   {{/each}}
   {{else}}
   <li>Please add <a href="/cook-book">recipes</a> to your menu</li>
   {{/each}}
</ul>
</template>
