/********************************************
GENERAL
********************************************/
a {
  text-decoration:   none;
}

#wrapper {
  /*max-width is related to width. But  instead of width, max-width that it can be smaller for mobile devices/tablets.*/
    max-width: 940px;
    /*Margin 0 is for all sides*/
    margin: 0 auto;
    background-color: green;
    /*Values first one is top and bottom. Second one is left and right.*/
    padding: 0 5%;
}

#logo {
    /*our name and description of who we are.*/
  text-algin: center;
  margin: 0;
}

h1 {
 font-family: 'Caesar Dressing', cursive;
 margin: 15px 0;
 font-size: 1.75em;
}


/************************************************
COLORS
************************************************/
body {
  background-color:green;
color: #999;
}

a {
  color: #6ab47b;
}

header {
  background: #6ab47b;
}

h1, h2 {
  color: #fff;
}

nav{
 background: #599a68;
}

/*Pseudo-Class */
nav a, nav a:visited{
  color: #fff;
}

nav a.selected, nav a:hover {
 color: #32673f;
}




/**********************************************
MEDIA Querie
***********************************************/
