<template name="NewRecipe">
    <div class="new-recipe-container">
      <i class="fa fa-close"></i>
    {{> quickForm collection="Recipes" id="insertRecipeForm" type="insert" class="new-recipe-form"}}
    </div>
</template>
