<template name="SideNav">
  <nav class="side-nav">
 <ul>
   <li>
     <a href="/recipe-book"><i class="fa fa-list"></i> cookbook</a>
   </li>
   <li>
     <a href="/menu"><i class="fa fa-map-o"></i> Menu</a>
   </li>
   <li>
     <a href="/shopping-list"><i class="fa fa-shopping-car"></i>
     Shopping list</a>
   </li>
 </ul>
  </nav>
</template>
